{%- set root_password = salt['pillar.get']('scaling-wordpress:galera:root_password', 'changeme') -%}
mariadb-server-10.0 mysql-server/root_password password {{ root_password }}
mariadb-server-10.0 mysql-server/root_password_again password {{ root_password }}
